/eclipse
/temp
/grammars
.DS_Store
workspace.xml
dictionaries
/lapg/build.properties
/lapg/build/
/lapg/libs/lapg-*
/lapg-idea/org.textmapper.lapg.idea/lib/lapg-*
/lapg-eclipse/plugins/org.textmapper.lapg/lapg*
target
bin
