.DS_Store
workspace.xml
dictionaries
/build/
/tm-tool/libs/textmapper-*
/tm-tool/tests/javascript/node_modules
/tm-idea/org.textmapper.idea/lib/*.jar
/tm-idea/org.textmapper.idea/lib/jps/*.jar
/tm-idea/availables.xml
/tm-idea/caches
/tm-eclipse/plugins/org.textmapper/textmapper*
.vscode
target
bin
classes
