//

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
background-position:0 0;background-repeat:no-repeat;border:0 none;font-size:100%;font-style:inherit;font-weight:inherit;margin:0;padding:0;
text-align:left;vertical-align:baseline;font-family:"Myriad Pro"!important;}
a img, :link img, :visited img { border:0 none;}
table { border-collapse:collapse;border-spacing:0; }
q:before, q:after, blockquote:before, blockquote:after { content:""; }

body {
	background: #FFFFFF url(images/img01.gif) repeat-x;
	background-position: 0px -14px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color: #333333;
}
html, body {
	padding: 0;
	margin:0;
	border:0 none;
	height:100%;
}

h1, h2, h3 {
	font-weight: normal;
	color: #3E3E3E;
}

h1 {
	margin: 1em 0 1em;
	font-size: 24px;
}

h2 {
	font-size: 1.2em;
}

p, ul, ol {
	text-align: left;
	line-height: 155%;
	font-size: 1.1em;
}

p {
	margin: 1.2em 0 0.2em 0;
}

pre {
	line-height: 125%;
	font-size: 1.1em;
}

ul, ol {
	margin: 0 0 1.5em 0;
	list-style-type: disc;
}

img {
	border: none;
}

/* Header */

#header {
	width: 650px;
	height: 82px;
	margin: 0px auto 10px auto;
	padding-top: 30px;
}

#logo {
	float: left;
}

#logo h1 {
	font-size: 54px;
	color: #494949;
	margin: 0px;
}

#logo h1 a {
	color: #494949;
}

#logo h2 {
	margin-top: 4px;
	margin-left: 1.4em;
	font-size: 13px;
	color: #A0A0A0;
}

#logo a {
	text-decoration: none;
}

/* Menu */

#menu {
	float: right;
	margin: 5px 10px 0 0;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	margin-left: 20px;
	padding: 7px;
	text-decoration: none;
	font-size: 1em;
	color: #164766;
	text-decoration: underline;
}

/* Page */

#page {
	width: 650px;
}

.wrap {
	position:relative;
	width: 650px;
	margin: 0px auto;

	height:auto !important;
	height:100%;
	min-height:100%;
}

/* Content */

#content {
	float: left;
	width: 425px;
	font-size:1.1em;
}

#widecontent {
	float: left;
	width: 650px;
	font-size:1.1em;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 225px;
}

/* Footer */

.empty_inner {
	height:50px;
}

#footer {
	height: 50px;
	min-height: 50px;
	background: white url(images/img01_v.gif) repeat-x;
	background-position: 0px 4px;
	font-size: 11px;

	position:relative;
	margin-top:-51px;
	width:100%;
}

#legal {
	clear: both;
	line-height: 50px;
	text-align: center;
	color: #375C69;
	margin: 0;
}

#legal a {
	color: #476B77;
	text-decoration: none;
}

#legal a:hover {
	text-decoration: underline;
}
