body,td {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
}
a { 
	color: #325e11;
	text-decoration: none; 
}

a:hover { 
	color: #626d41; 
	text-decoration: underline;
}
ul{
	margin-bottom : 10px;
	margin-top : 7px;
	margin-left : 0px;
}
li{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	margin-left : 25px;
	padding-left: 9px;
	list-style-image : url(images/li.gif);
}

.address{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	color : #000000;
}
.address a{
	color : #000000;
}
span.head1 {
	font-size : 18pt;
	font-family : Arial, Helvetica, sans-serif;
}
span.head3 {
	font-size : 12pt;
	font-weight : bold;
	font-family : Arial, Helvetica, sans-serif;
	color: #325e11;
}
.text{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	color : #515151;
}

.loadh {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-weight : bold;
	color : #414141;
	text-decoration: underline;
}
