<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Lapg Templates Editor"
            extensions="ltp"
            icon="icons/ltpfile.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="net.sf.lapg.templates.internal.ui.editor.TemplatesEditor"
            id="net.sf.lapg.templates.internal.ui.editor.TemplatesEditorId">
      </editor>
   </extension>

	<extension
	      point = "org.eclipse.ui.newWizards">
		<category 
		   id = "net.sf.lapg.templates.newWizards"
		   name="Lapg templates">
		</category>
		 <wizard
		   id = "net.sf.lapg.templates.internal.ui.NewTemplateFileWizardId"
		   name = "Lapg Template"
		   class="net.sf.lapg.templates.internal.ui.NewTemplateFileWizard"
		   category="net.sf.lapg.templates.newWizards"
		   icon="icons/ltpfile.gif">
	       <description>Create a new Lapg Template File (.ltp)</description>
		   <selection class="org.eclipse.core.resources.IResource"/>
		</wizard>
	</extension>      

</plugin>
