<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<title>{{ page.title }}</title>
	<link href="/style.css" rel="stylesheet" type="text/css"/>
	<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-1480373-7']); _gaq.push(['_trackPageview']);
	(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
	</script>
</head>
<body>
<div class="wrap">
<div id="header">
	<div id="logo">
		<h1><a href="#">lapg</a></h1>
		<h2>lexer and parser generator</h2>
	</div>
	<div id="menu">
		<ul>
			<li><a href="/index.html">Home</a></li>
			<li><a href="/download.html">Download</a></li>
			<li><a href="/manual/index.html">Help</a></li>
		</ul>
	</div>
</div>

<div id="page">
{% if page.sidebar %}
	<div id="content">
		{{ content }}
	</div>
	<div id="sidebar">
		<a href="/images/lapg_eclipse.png" target="_blank"
		   onclick="if(navigator.userAgent.toLowerCase().indexOf('opera') != -1 && window.event.preventDefault) window.event.preventDefault();this.newWindow = window.open('/images/lapg_eclipse.png', 'lapg_eclipse', 'toolbar=0,scrollbars=0,location=0,status=0,menubar=0,width=937,height=590,resizable=0');this.newWindow.focus();this.newWindow.opener=window;return false;"
				><img src="/images/lapg_eclipse.jpg"/></a>

		<br/>
		<br/>

		<a href="/images/lapg_idea.png" target="_blank"
		   onclick="if(navigator.userAgent.toLowerCase().indexOf('opera') != -1 && window.event.preventDefault) window.event.preventDefault();this.newWindow = window.open('/images/lapg_idea.png', 'lapg_idea', 'toolbar=0,scrollbars=0,location=0,status=0,menubar=0,width=937,height=591,resizable=0');this.newWindow.focus();this.newWindow.opener=window;return false;"
				><img src="/images/lapg_idea.jpg"/></a>
	</div>
{% else %}
	<div id="widecontent">
		{{ content }}
	</div>
{% endif %}
	<div style="clear: both;">&nbsp;</div>
</div>

<div class="empty_inner" style="">&#160;</div>
</div>
<div id="footer">
	<p id="legal">(c) 2011 textmapper.org, Gryaznov Evgeny</p>
</div>
</body>
</html>