<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<title>{{ page.title }}</title>
	<link href="/style.css" rel="stylesheet" type="text/css"/>
	<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-1480373-7']); _gaq.push(['_trackPageview']);
	(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
	</script>
</head>
<body>
<div class="wrap">
<div id="header">
	<div id="logo">
		<h1><a href="#">lapg</a></h1>
		<h2>lexer and parser generator</h2>
	</div>
	<div id="menu">
		<ul>
			<li><a href="/index.html">Home</a></li>
			<li><a href="/manual/index.html">Documentation</a></li>
			<!--			<li><a href="download.html">Download</a></li> -->
			<li><a href="http://github.com/inspirer/lapg">Repository</a></li>
		</ul>
	</div>
</div>

<div id="page">
{% if page.sidebar %}
	<div id="content">
		{{ content }}
	</div>
	<div id="sidebar">
		<img src="images/lapg_eclipse.jpg"/>

		<br/>
		<br/>

		<img src="images/lapg_idea.jpg"/>
	</div>
{% else %}
	<div id="widecontent">
		{{ content }}
	</div>
{% endif %}
	<div style="clear: both;">&nbsp;</div>
</div>

<div class="empty_inner" style="">&#160;</div>
</div>
<div id="footer">
	<p id="legal">(c) 2011 textway.org, Gryaznov Evgeny</p>
</div>
</body>
</html>